span.tagHabilidades {
	margin: 0;
	padding: 0;
	background-color: #5BC0DE;
	width: 150px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	

}
span.tagHabilidades a {
	text-decoration: none;
	color:#FFF;
	vertical-align: middle;
	font-size: 1em;
}

/*=========== >>> header @@@@@*/
header nav ul li a embed {
	width: 100px;
	margin: -45px 0;
	margin-right: 10px;
}


/*=========== <<< header @@@@@*/

/*=========== >>> área de contatos @@@@@*/

div.contatos ul li{
	list-style-type: none;
	margin-bottom: 10px;
}

div.contatos ul li a{
	text-decoration: none;
}
form {
	text-align: left;
}
form fieldset {
	border:none;
	background-color: #E5E5E5;
	padding: 10px;

}
form fieldset legend{
	background-color: #CCC;
	color:#FFF;
	padding: 3px 7px;
}

form label {

	display: inline-block;
	width: 40%;
	color:#777;
}
form textarea {
	width: 100%;
	height: 150px;
	vertical-align: top;
	border: none;
	color: #666;

}
form input {
	width: 100%;
	border: none;
	color: #666;
}

input[type=submit] {
	cursor: grab;
	width: 100%;
	border: 0;
	background-color: #EEE;
	height: 30px;
}
input[type=submit]:hover{
	background-color: #AAA;

	border-bottom: 7px solid #EEE;
	border-right: 7px solid #EEE;
}

/*=========== <<< área de contatos @@@@@*/