span.tagHabilidades {
	margin: 0;
	padding: 0;
	background-color: #5BC0DE;
	width: 150px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	

}
span.tagHabilidades a {
	text-decoration: none;
	color:#FFF;
	vertical-align: middle;
	font-size: 1em;
}

/*=========== >>> header @@@@@*/
header nav ul li a embed {
	width: 100px;
	margin: -45px 0;
	margin-right: 10px;
}


/*=========== <<< header @@@@@*/

/*=========== >>> área de contatos @@@@@*/

div.contatos ul li{
	list-style-type: none;
	margin-bottom: 10px;
}

div.contatos ul li a{
	text-decoration: none;
}

/*=========== <<< área de contatos @@@@@*/